<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Подтверждение почты</title>
    <link rel="stylesheet" href="../../static/css/common/footer.css" th:href="@{/css/common/footer.css}">
    <link rel="stylesheet" href="../../static/css/common/header.css" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" href="../../static/css/auth/confirmation-code.css" th:href="@{/css/auth/confirmation-code.css}">
    <script src="../../static/js/common/header.js" th:src="@{/js/common/header.js}"></script>
    <script th:src="@{/js/auth/reset-password.js}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<div class="container">
    <div class="card">

        <form class="form" id="confirmationForm">
            <h2>Введите код из письма и новый пароль</h2>

            <div class="input-group">
                <input type="number" id="code" placeholder="Код" required>
            </div>

            <div class="input-group">
                <input type="password" id="newPassword" placeholder="Новый пароль" required>
            </div>

            <div class="input-group">
                <input type="password" id="confirmPassword" placeholder="Подтверждение пароля" required>
            </div>

            <input type="hidden" id="csrfToken" name="_csrf" th:value="${_csrf.token}"/>

            <button type="submit">Сменить пароль</button>

            <div id="error-message" style="color: red; margin-top: 10px; display: none;"></div>
        </form>

        <div class="grid">
            <div class="grid-col">
                <div class="slot slot-tall"></div>
                <div class="slot slot-short"></div>
            </div>

            <div class="grid-col">
                <div class="slot slot-mini"></div>
                <div class="slot slot-mega"></div>
            </div>
        </div>

    </div>
</div>
</body>
<footer>
    <div class="col">
        <h3>Stroy1Click</h3>
        <p>Надёжный поставщик строительных материалов с 2019 года.</p>
        <p>+7 999 999 99 99</p>
        <p>forexample@mail.ru</p>
        <p>город, улица, дом</p>
    </div>

    <div class="col">
        <h3>Категории</h3>
        <a href="#">Кирпич и блоки</a>
        <a href="#">Цемент и смеси</a>
        <a href="#">Инструменты</a>
        <a href="#">Сантехника</a>
        <a href="#">Электрика</a>
        <a href="#">Кровля</a>
    </div>

    <div class="col">
        <h3>Клиентам</h3>
        <a href="#">Гарантии</a>
        <a href="#">Контакты</a>
        <a href="#">О компании</a>
    </div>

    <div class="col">
        <h3>Подкатегории</h3>
        <a href="#">Кирпич и блоки</a>
        <a href="#">Цемент и смеси</a>
        <a href="#">Инструменты</a>
        <a href="#">Сантехника</a>
        <a href="#">Электрика</a>
        <a href="#">Кровля</a>
    </div>
</footer>
</html>