<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Администрирование: Атрибуты</title>
    <link rel="stylesheet" href="../../static/css/common/footer.css" th:href="@{/css/common/footer.css}">
    <link rel="stylesheet" href="../../static/css/common/header.css" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" href="../../static/css/admin/admin.css" th:href="@{/css/admin/admin.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<header class="main-header">
    <div class="logo">Stroy1Click</div>

    <nav>
        <a href="/">Главная</a>
        <a href="/categories">Категории</a>
        <a href="/about-us">О нас</a>
        <a href="/contacts">Контакты</a>
    </nav>

    <div class="header">
        <div class="search-icon-wrapper">
            <svg viewBox="0 0 24 24">
                <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 3 13.09 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
            </svg>
        </div>

        <input type="text" class="search-input" placeholder="Поиск товаров...">
    </div>

    <div class="header-actions">
        <div class="action-btn cart-btn">
            <svg viewBox="0 0 24 24">
                <path d="M7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zM1 2v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.14 0-.25-.11-.25-.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.58-6.49c.08-.14.12-.31.12-.48 0-.55-.45-1-1-1H5.21l-.94-2H1zm16 16c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z"/>
            </svg>
            <a href="/cart" class="btn-text">Корзина</a>
        </div>

        <div class="action-btn profile-btn">
            <svg viewBox="0 0 24 24">
                <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
            </svg>
            <a href="/user/profile" class="btn-text">Профиль</a>
        </div>
    </div>

    <div class="burger" onclick="toggleMenu()">
        <span></span><span></span><span></span>
    </div>

    <div id="mobile-menu" class="mobile-menu">
        <a href="/">Главная</a>
        <a href="/categories">Категории</a>
        <a href="/about-us">О нас</a>
        <a href="/contacts">Контакты</a>
    </div>
</header>

<div class="container">
    <div class="card admin-card">

        <form class="form" method="post" th:action="@{/admin/attribute-options/create}" th:object="${attributeOptionDto}">
            <a th:href="@{/admin/attributes}">Attributes</a>
            <a th:href="@{/admin/product-attribute-assignments}">Product Attribute Assignment</a>

            <h2>Создать Attribute Option</h2>

            <div th:if="${error}" class="global-error">
                <span th:text="${error}">Ошибка валидации</span>
            </div>

            <div class="input-group" th:classappend="${#fields.hasErrors('attributeId')} ? 'error' : ''">
                <input type="number" th:field="*{attributeId}" placeholder="Id атрибута" aria-label="Id атрибута">

                <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" aria-hidden="true">
                    <path d="M21.41 11.58l-9-9C12.05 2.22 11.55 2 11 2H4c-1.1 0-2 .9-2 2v7c0 .55.22 1.05.59 1.42l9 9c.36.36.86.58 1.41.58.55 0 1.05-.22 1.41-.59l7-7c.37-.36.59-.86.59-1.41 0-.55-.23-1.06-.59-1.42zM5.5 7C4.67 7 4 6.33 4 5.5S4.67 4 5.5 4 7 4.67 7 5.5 6.33 7 5.5 7z"></path>
                </svg>

                <span class="error-message" th:if="${#fields.hasErrors('attributeId')}" th:errors="*{attributeId}">Ошибка</span>
            </div>

            <div class="input-group" th:classappend="${#fields.hasErrors('productTypeId')} ? 'error' : ''">
                <input type="number" th:field="*{productTypeId}" placeholder="Id типа продукта" aria-label="Id типа продукта">

                <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" aria-hidden="true">
                    <path d="M21.41 11.58l-9-9C12.05 2.22 11.55 2 11 2H4c-1.1 0-2 .9-2 2v7c0 .55.22 1.05.59 1.42l9 9c.36.36.86.58 1.41.58.55 0 1.05-.22 1.41-.59l7-7c.37-.36.59-.86.59-1.41 0-.55-.23-1.06-.59-1.42zM5.5 7C4.67 7 4 6.33 4 5.5S4.67 4 5.5 4 7 4.67 7 5.5 6.33 7 5.5 7z"></path>
                </svg>

                <span class="error-message" th:if="${#fields.hasErrors('productTypeId')}" th:errors="*{productTypeId}">Ошибка</span>
            </div>

            <div class="input-group" th:classappend="${#fields.hasErrors('value')} ? 'error' : ''">
                <input type="text" th:field="*{value}" placeholder="Значение" aria-label="Id типа продукта">

                <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" aria-hidden="true">
                    <path d="M21.41 11.58l-9-9C12.05 2.22 11.55 2 11 2H4c-1.1 0-2 .9-2 2v7c0 .55.22 1.05.59 1.42l9 9c.36.36.86.58 1.41.58.55 0 1.05-.22 1.41-.59l7-7c.37-.36.59-.86.59-1.41 0-.55-.23-1.06-.59-1.42zM5.5 7C4.67 7 4 6.33 4 5.5S4.67 4 5.5 4 7 4.67 7 5.5 6.33 7 5.5 7z"></path>
                </svg>

                <span class="error-message" th:if="${#fields.hasErrors('value')}" th:errors="*{value}">Ошибка</span>
            </div>

            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" th:if="${_csrf}" />

            <button type="submit" id="createBtn">Сохранить</button>
        </form>

        <div th:if="${error}">
            <h1 style="color: red" th:text="${error}"></h1>
        </div>

    </div>
</div>

<div class="categories-container">
    <div th:each="attributeOption : ${attributeOptions}" class="category-item">
        <h3 th:text="|${attributeOption.id} : ${attributeOption.productTypeId} : ${attributeOption.attributeId}|"></h3>
    </div>
</div>

<footer>
    <div class="col">
        <h3>Stroy1Click</h3>
        <p>ООО "ВэлСнаб"</p>
        <p>Надёжный поставщик строительных материалов</p>
        <p>+7 914 790 43 80</p>
        <p>2704380@mail.ru</p>
        <p>г. Владивосток, ул. Выселковая 61в.</p>
    </div>
</footer>

</body>
</html>