spring:
  application:
    name: Web-Service
  profiles:
    active: dev
  config:
    import: application-prod.yml
  messages:
    basename: messages
    encoding: UTF-8

otel:
  service:
    name: "web-service"
  traces:
    exporter: "otlp"
    sampler: "always_on"
  metrics:
    exporter: "otlp"
    export:
      interval: 5000
  logs:
    exporter: "otlp"
  exporter:
    otlp:
      protocol: "grpc"
      endpoint: "http://localhost:4317"

resilience4j:
  circuitbreaker:
    instances:
      authClient:
        registerHealthIndicator: true
        slidingWindowType: COUNT_BASED
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        failureRateThreshold: 50
        waitDurationInOpenState: 120s
        permittedNumberOfCallsInHalfOpenState: 3
        automaticTransitionFromOpenToHalfOpenEnabled: true
        ignore-exceptions:
          - ru.stroy1click.web.common.exception.NotFoundException
          - ru.stroy1click.web.common.exception.ValidationException
      userClient:
        registerHealthIndicator: true
        slidingWindowType: COUNT_BASED
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        failureRateThreshold: 50
        waitDurationInOpenState: 120s
        permittedNumberOfCallsInHalfOpenState: 3
        automaticTransitionFromOpenToHalfOpenEnabled: true
        ignore-exceptions:
          - ru.stroy1click.web.common.exception.NotFoundException
          - ru.stroy1click.web.common.exception.ValidationException
      categoryClient:
        registerHealthIndicator: true
        slidingWindowType: COUNT_BASED
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        failureRateThreshold: 50
        waitDurationInOpenState: 120s
        permittedNumberOfCallsInHalfOpenState: 3
        automaticTransitionFromOpenToHalfOpenEnabled: true
        ignore-exceptions:
          - ru.stroy1click.web.common.exception.NotFoundException
          - ru.stroy1click.web.common.exception.ValidationException
      subcategoryClient:
        registerHealthIndicator: true
        slidingWindowType: COUNT_BASED
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        failureRateThreshold: 50
        waitDurationInOpenState: 120s
        permittedNumberOfCallsInHalfOpenState: 3
        automaticTransitionFromOpenToHalfOpenEnabled: true
        ignore-exceptions:
          - ru.stroy1click.web.common.exception.NotFoundException
          - ru.stroy1click.web.common.exception.ValidationException
      productTypeClient:
        registerHealthIndicator: true
        slidingWindowType: COUNT_BASED
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        failureRateThreshold: 50
        waitDurationInOpenState: 120s
        permittedNumberOfCallsInHalfOpenState: 3
        automaticTransitionFromOpenToHalfOpenEnabled: true
        ignore-exceptions:
          - ru.stroy1click.web.common.exception.NotFoundException
          - ru.stroy1click.web.common.exception.ValidationException
      productClient:
        registerHealthIndicator: true
        slidingWindowType: COUNT_BASED
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        failureRateThreshold: 50
        waitDurationInOpenState: 120s
        permittedNumberOfCallsInHalfOpenState: 3
        automaticTransitionFromOpenToHalfOpenEnabled: true
        ignore-exceptions:
          - ru.stroy1click.web.common.exception.NotFoundException
          - ru.stroy1click.web.common.exception.ValidationException
      confirmationCodeClient:
        registerHealthIndicator: true
        slidingWindowType: COUNT_BASED
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        failureRateThreshold: 50
        waitDurationInOpenState: 120s
        permittedNumberOfCallsInHalfOpenState: 3
        automaticTransitionFromOpenToHalfOpenEnabled: true
        ignore-exceptions:
          - ru.stroy1click.web.common.exception.NotFoundException
          - ru.stroy1click.web.common.exception.ValidationException

server:
  port: 3035

url:
  cluster: https://api.novacodeltd.com
  user: http://localhost:8080/api/v1/users
  auth: http://localhost:9090/api/v1/auth
  confirmationCode: http://localhost:6060/api/v1/confirmation-codes
  category: http://localhost:7070/api/v1/categories
  subcategory: http://localhost:7070/api/v1/subcategories
  productType: http://localhost:7070/api/v1/product-types
  product: http://localhost:7070/api/v1/products
  attribute: http://localhost:4040/api/v1/attributes
  productTypeAttributeValue: http://localhost:4040/api/v1/product-type-attribute-values
  productAttribute: http://localhost:4040/api/v1/product-attributes
  storage: http://localhost:7070/api/v1/storage
  order: http://localhost:1010/api/v1/orders